.vs/
.vs2019/
.vs2022/
.vsconfig
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ReleasePublic/
x64/
x86/
x64_Debug/
x86_Debug/
*.user
*.userosscache
*.suo
*.userprefs
[Dd]ebug/
[Dd]Release/
x64/
x86/
*.cab
*.msi
*.msm
*.msp
windows/
*.bak
*.swp
*~
*.log
